src/Adapter/WSDL/TradeToolsService_v1.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://fedex.com/ws/trdt/v1" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://fedex.com/ws/trdt/v1" name="TradeToolsServiceDefinitions">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/trdt/v1">
      <xs:element name="HsDetailLookupReply" type="ns:HsDetailLookupReply"/>
      <xs:element name="HsDetailLookupRequest" type="ns:HsDetailLookupRequest"/>
      <xs:element name="HsSearchReply" type="ns:HsSearchReply"/>
      <xs:element name="HsSearchRequest" type="ns:HsSearchRequest"/>
      <xs:complexType name="ClientDetail">
        <xs:annotation>
          <xs:documentation>Descriptive data for the client submitting a transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="AccountNumber" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>The FedEx account number associated with this transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeterNumber" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>This number is assigned by FedEx and identifies the unique device from which the request is originating</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeterInstance" type="xs:string" minOccurs="0"/>
          <xs:element name="IntegratorId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Only used in transactions which require identification of the FedEx Office integrator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Region" type="ns:ExpressRegionCode" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the region from which the transaction is submitted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The language to be used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExciseCondition">
        <xs:sequence>
          <xs:element name="Codes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExciseDetail">
        <xs:sequence>
          <xs:element name="Category" type="xs:string" minOccurs="0"/>
          <xs:element name="Conditions" type="ns:ExciseCondition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Measures" type="ns:Measure" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ExpressRegionCode">
        <xs:annotation>
          <xs:documentation>Indicates a FedEx Express operating region.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="APAC"/>
          <xs:enumeration value="CA"/>
          <xs:enumeration value="EMEA"/>
          <xs:enumeration value="LAC"/>
          <xs:enumeration value="US"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="HsDetail">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="UnitsOfMeasure" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ExciseDetails" type="ns:ExciseDetail" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="InCoTerms" type="ns:InternationalCommercialTermsType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Ancestry" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Concatenated descriptions of parent harmonized codes.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="HsDetailLookupFeatureType">
        <xs:annotation>
          <xs:documentation>Values which specify types of harmonized system search being requested.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="HS_DETAIL_LOOKUP"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="HsDetailLookupReply">
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1"/>
          <xs:element name="Notifications" type="ns:Notification" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="Detail" type="ns:HsDetail" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HsDetailLookupRequest">
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="1"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="Features" type="ns:HsDetailLookupFeatureType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifies types of search to be performed simultaneously.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountry" type="xs:string" minOccurs="0"/>
          <xs:element name="ImportDate" type="xs:date" minOccurs="0"/>
          <xs:element name="HarmonizedCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="HsSearchFeatureType">
        <xs:annotation>
          <xs:documentation>Values which specify types of harmonized system search being requested.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="HS_SEARCH"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="HsSearchReply">
        <xs:sequence>
          <xs:element name="HighestSeverity" type="ns:NotificationSeverityType" minOccurs="1"/>
          <xs:element name="Notifications" type="ns:Notification" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="TotalResultsAvailable" type="xs:nonNegativeInteger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Total number of results available that match the request's selection parameters.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultsReturned" type="xs:nonNegativeInteger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Number of result items returned in this reply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Summaries" type="ns:HsSummary" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HsSearchRequest">
        <xs:sequence>
          <xs:element name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClientDetail" type="ns:ClientDetail" minOccurs="1"/>
          <xs:element name="TransactionDetail" type="ns:TransactionDetail" minOccurs="0"/>
          <xs:element name="Version" type="ns:VersionId" minOccurs="1"/>
          <xs:element name="Features" type="ns:HsSearchFeatureType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifies types of search to be performed simultaneously.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultsToSkip" type="xs:nonNegativeInteger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Number of results to skip in the sequence of results that match the request's selection parameters.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultsRequested" type="xs:nonNegativeInteger" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Number of result items desired in the reply for this request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SearchType" type="ns:TradeToolsSearchType" minOccurs="0"/>
          <xs:element name="SearchFilter" type="ns:TradeToolsSearchFilterType" minOccurs="0"/>
          <xs:element name="SearchText" type="xs:string" minOccurs="0"/>
          <xs:element name="DestinationCountry" type="xs:string" minOccurs="0"/>
          <xs:element name="ImportDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HsSummary">
        <xs:sequence>
          <xs:element name="Level" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the level of this entry in the coding hierarchy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Code" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="DutiesApplicable" type="xs:boolean" minOccurs="0"/>
          <xs:element name="Ancestry" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Concatenated descriptions of parent harmonized codes.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubSummaries" type="ns:HsSummary" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Subordinate entries in the coding hierarchy.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="InternationalCommercialTermsType">
        <xs:annotation>
          <xs:documentation>Should this be a subset, or should it be the complete list of all standard values (about a dozen)?</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CFR"/>
          <xs:enumeration value="CIF"/>
          <xs:enumeration value="CIP"/>
          <xs:enumeration value="CPT"/>
          <xs:enumeration value="DAF"/>
          <xs:enumeration value="DAP"/>
          <xs:enumeration value="DAT"/>
          <xs:enumeration value="DDP"/>
          <xs:enumeration value="DDU"/>
          <xs:enumeration value="DEQ"/>
          <xs:enumeration value="DES"/>
          <xs:enumeration value="EXW"/>
          <xs:enumeration value="FAS"/>
          <xs:enumeration value="FCA"/>
          <xs:enumeration value="FOB"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Localization">
        <xs:annotation>
          <xs:documentation>Identifies the representation of human-readable text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="LanguageCode" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Two-letter code for language (e.g. EN, FR, etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocaleCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Two-letter code for the region (e.g. us, ca, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Measure">
        <xs:sequence>
          <xs:element name="Quantity" type="xs:decimal" minOccurs="0"/>
          <xs:element name="Units" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the result of the submitted transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Severity" type="ns:NotificationSeverityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The severity of this notification. This can indicate success or failure or some other information about the request. The values that can be returned are SUCCESS - Your transaction succeeded with no other applicable information. NOTE - Additional information that may be of interest to you about your transaction. WARNING - Additional information that you need to know about your transaction that you may need to take action on. ERROR - Information about an error that occurred while processing your transaction. FAILURE - FedEx was unable to process your transaction at this time due to a system failure. Please try again later</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Source" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicates the source of this notification. Combined with the Code it uniquely identifies this notification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Code" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A code that represents this notification. Combined with the Source it uniquely identifies this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Human-readable text that explains this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LocalizedMessage" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The translated message. The language and locale specified in the ClientDetail. Localization are used to determine the representation. Currently only supported in a TrackReply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MessageParameters" type="ns:NotificationParameter" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A collection of name/value pairs that provide specific data to help the client determine the nature of an error (or warning, etc.) without having to parse the message string.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationParameter">
        <xs:sequence>
          <xs:element name="Id" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies the type of data contained in Value (e.g. SERVICE_TYPE, PACKAGE_SEQUENCE, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Value" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The value of the parameter (e.g. PRIORITY_OVERNIGHT, 2, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NotificationSeverityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="NOTE"/>
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="WARNING"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TradeToolsSearchFilterType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALL"/>
          <xs:enumeration value="ANY"/>
          <xs:enumeration value="EXACT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TradeToolsSearchType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CODE"/>
          <xs:enumeration value="DESCRIPTION"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TransactionDetail">
        <xs:sequence>
          <xs:element name="CustomerTransactionId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Free form text to be echoed back in the reply. Used to match requests and replies.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Localization" type="ns:Localization" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Governs data payload language/translations (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationDetail">
        <xs:annotation>
          <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ParentCredential" type="ns:WebAuthenticationCredential" minOccurs="0">
            <xs:annotation>
              <xs:documentation>This was renamed from cspCredential.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserCredential" type="ns:WebAuthenticationCredential" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationCredential">
        <xs:annotation>
          <xs:documentation>Two part authentication string used for the sender's identity</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Key" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifying part of authentication credential. This value is provided by FedEx after registration</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Password" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Secret part of authentication key. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionId">
        <xs:annotation>
          <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ServiceId" type="xs:string" fixed="trdt" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Major" type="xs:int" fixed="1" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service business level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Intermediate" type="xs:int" fixed="0" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service interface level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Minor" type="xs:int" fixed="0" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifies the service code level.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="HsDetailLookupReply">
    <part name="HsDetailLookupReply" element="ns:HsDetailLookupReply"/>
  </message>
  <message name="HsDetailLookupRequest">
    <part name="HsDetailLookupRequest" element="ns:HsDetailLookupRequest"/>
  </message>
  <message name="HsSearchReply">
    <part name="HsSearchReply" element="ns:HsSearchReply"/>
  </message>
  <message name="HsSearchRequest">
    <part name="HsSearchRequest" element="ns:HsSearchRequest"/>
  </message>
  <portType name="TradeToolsPortType">
    <operation name="hsSearch" parameterOrder="HsSearchRequest">
      <input message="ns:HsSearchRequest"/>
      <output message="ns:HsSearchReply"/>
    </operation>
    <operation name="hsDetailLookup" parameterOrder="HsDetailLookupRequest">
      <input message="ns:HsDetailLookupRequest"/>
      <output message="ns:HsDetailLookupReply"/>
    </operation>
  </portType>
  <binding name="TradeToolsServiceSoapBinding" type="ns:TradeToolsPortType">
    <s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hsSearch">
      <s1:operation soapAction="http://fedex.com/ws/trdt/v1/hsSearch" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
    <operation name="hsDetailLookup">
      <s1:operation soapAction="http://fedex.com/ws/trdt/v1/hsDetailLookup" style="document"/>
      <input>
        <s1:body use="literal"/>
      </input>
      <output>
        <s1:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TradeToolsService">
    <port name="TradeToolsServicePort" binding="ns:TradeToolsServiceSoapBinding">
      <s1:address location="https://wsbeta.fedex.com:443/web-services/trdt"/>
    </port>
  </service>
</definitions>
